<div class="video_container">
  <!--<video class="videobg" autoplay loop>-->
  <%= video_tag ["dots.mp4", "dots.ogg", "dots.webm"], :class => "videobg", :autoplay => true, :loop => true, :muted => true %>
  <!--</video>-->

  <!-- Logo -->
  <div id="logo">
    <img src="/assets/JM_logo_white.png" >
  </div>
</div>

<%= render 'store' %>
