<div id="home_page">
  <!-- background -->
  <div class="video_container">
    <!--<video class="videobg" autoplay loop>-->
      <%= video_tag ["dots.mp4", "dots.ogg", "dots.webm"], :class => "videobg", :autoplay => true, :loop => true, :muted => true %>
    <!--</video>-->
  </div>

  <!-- Site navigation menu -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-
							example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-logo" href="#"><img src="/assets/JM_logo.png" ></a>
      </div>
      <!-- menu item -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
        <div id="menu-center">
        <ul class="nav navbar-nav navbar-left" data-hover="dropdown" data-animations="lightSpeedIn" >
          <li><a class="menu" href="#home_page">HOME</a></li>
          <li><a class="menu" href="#about_us">ABOUT US</a></li>
          <li class="dropdown"><a class="menu" href="#store">STORE<span class="caret-right"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Bracelet</a></li>
              <li><a href="#">Earring</a></li>
              <li><a href="#">Necklace</a></li>
              <li><a href="#">Other Accessories</a></li>
            </ul>
          </li>
          <li><a class="menu" href="#contact_us">CONTACT US</a></li>
        </ul>
        </div>

        <nav class="nav navbar-nav navbar-fixed-bottom"
             data-hover="dropdown" data-animations="lightSpeedIn">
          <div class="info">
            <div class="social_icon">
              <table cellpadding="0" width="200" cellspacing="0">
                <tr>
                  <td><a class="fb" href="http://www.facebook.com/" target="_blank">
                    <img src="/assets/fb.png" title="Instasntgram" width="30" height="30" border="0"></a></td>
                  <td><a class="ig" href="http://www.facebook.com/" target="_blank">
                    <img src="/assets/ig.png" title="Instasntgram" width="30" height="30" border="0"></a></td>
                  <td><a class="mail" href="mailto:jomiaccessories@gmail.com?subject=Question
										&body=Simply type your question here:" target="_blank">
                    <img src="/assets/mail.png" title="Mail" width="30" height="30" border="0"></a></td>
                </tr>
              </table>
            </div>
            <!--</table>-->
            <p>Copyright © 2015 JM Accessories. <br>All Rights Reserved<br>Made by Jonathan Poon</p>
          </div>
        </nav>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- Logo -->
  <div id="logo">
      <img src="/assets/JM_logo_white.png" >
    </a>
  </div>

</div> <!-- main -->